<main>

  <router-outlet></router-outlet>
  
  <header>
    <div class="px-3 py-2 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
         
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li>
              <a href="/" class="nav-link text-secondary" routerLink="page1" routerLinkActive="active">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24">
                  <use xlink:href="#home"/>
                </svg>
                Page1

              </a>
            </li>
            <li>
              <a routerLink="page2" routerLinkActive="active" href="/page2" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#speedometer2"/></svg>
                Page2
              </a>
            </li>
            <li>
              <a href="#" routerLink="page3" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#table"/></svg>
                page3
              </a>
            </li>
            <li>
              <a href="#" routerLink="card" class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#grid"/></svg>
                Card Home
              </a>
            </li>
            <li>
              <a href="#" routerLink="pricing"  class="nav-link text-white">
                <svg class="bi d-block mx-auto mb-1" width="24" height="24"><use xlink:href="#pricing"/></svg>
                Pricing
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>    
  </header>

  <div class="b-example-divider"></div>

  <router-outlet></router-outlet>
 


</main>

<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white">Dark mode hero</h1>
    <div class="col-lg-6 mx-auto">
      <p class="fs-5 mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Custom button</button>
        <button type="button" class="btn btn-outline-light btn-lg px-4">Secondary</button>
      </div>
    </div>
  </div>
</div>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>

<!--
<a style="margin-top: 20px;">This is my Defaul Page(app.component.html)</a>
<div style="margin-top: 20px;margin-bottom: 20px;">
  <button routerLink="page1" routerLinkActive="active">Page1</button> 
  <button routerLink="page2" routerLinkActive="active">Page2</button>
  <button routerLink="page3" routerLinkActive="active">Page3</button>
  <button routerLink="home" routerLinkActive="active">Home</button>
</div>
-->
